### Table of contents

**Exercise 1:** Reverse a list in Python

**Exercise 2:** Concatenate two lists index-wise

**Exercise 3:** Turn every item of a list into its square

**Exercise 4:** Concatenate two lists in the following order

**Exercise 5:** Iterate both lists simultaneously

**Exercise 6:** Remove empty strings from the list of strings

**Exercise 7:** Add new item to list after a specified item

**Exercise 8:** Extend nested list by adding the sublist

**Exercise 9:** Replace listâ€™s item with new value if found

**Exercise 10:** Remove all occurrences of a specific item from a list.

#### Exercise 1: Reverse a list in Python 

**Given:**

list1 = [100, 200, 300, 400, 500]

**Expected output:**

[500, 400, 300, 200, 100]

##### Method # 1

In [30]:
list1 = [100, 200, 300, 400, 500]

reverse = list1[::-1]
print(reverse)

[500, 400, 300, 200, 100]

##### Method # 2

In [39]:
list1 = [100, 200, 300, 400, 500]
list1.reverse() 
print(list1)

[500, 400, 300, 200, 100]

#### Exercise 2: Concatenate two lists index-wise

Write a program to add two lists index-wise. Create a new list that contains the 0th index item from both the list, 
then the 1st index item, and so on till the last element. any leftover items will get added at the end of the new list. 

**Given:**

list1 = ["M", "na", "i", "Ke"]

list2 = ["y", "me", "s", "lly"]

**Expected output:**

['My', 'name', 'is', 'Kelly']

##### Using List Comprehension & Zip()

In [47]:
list1 = ["M", "na", "i", "Ke"]
list2 = ["y", "me", "s", "lly"] 
newlist = [i+j for i,j in zip(list1, list2)]
print(newlist)

['My', 'name', 'is', 'Kelly']

**Exercise 3:** Turn every item of a list into its square 

Given a list of numbers. write a program to turn every item of a list into its square.

**Given:**

numbers = [1, 2, 3, 4, 5, 6, 7]

**Expected output:**

[1, 4, 9, 16, 25, 36, 49]

##### Method # 1

In [55]:
numbers = [1, 2, 3, 4, 5, 6, 7]

newlist = [num*num for num in range(1,8)]
print(newlist)

[1, 4, 9, 16, 25, 36, 49]

##### Method # 2 

**Using loop and list method**

* Create an empty result list
* Iterate a numbers list using a loop
* In each iteration, calculate the square of a current number and add it to the result list using the append() method.

In [1]:
numbers = [1, 2, 3, 4, 5, 6, 7]

newlist = []

for x in numbers: 
    newlist.append(x*x)
print(newlist)

[1, 4, 9, 16, 25, 36, 49]

##### Method # 3

**Use list comprehension**

In [4]:
numbers = [1, 2, 3, 4, 5, 6, 7] 

newlist = [x*x for x in numbers]
print(newlist)

[1, 4, 9, 16, 25, 36, 49]

#### Exercise 4: Concatenate two lists in the following order 

**Given:**

list1 = ["Hello ", "take "]

list2 = ["Dear", "Sir"]

**Expected output:**

['Hello Dear', 'Hello Sir', 'take Dear', 'take Sir']

**Hint:** 

* Use a list comprehension to iterate two lists using a for loop and concatenate the current item of each list.

In [11]:
list1 = ["Hello ", "Take "]
list2 = ["Dear", "Sir"]

list3 = [i + j for i in list1 for j in list2]
print(list3)

['Hello Dear', 'Hello Sir', 'Take Dear', 'Take Sir']

#### Exercise 5: Iterate both lists simultaneously 

Given a two Python list. Write a program to iterate both lists simultaneously and display items from list1 in original order and items from list2 in reverse order.

**Given:**

list1 = [10, 20, 30, 40]

list2 = [100, 200, 300, 400]

**Expected output:**

10 400 

20 300 

30 200 

40 100

**Hint:** 

Use the zip() function. This function takes two or more iterables (like list, dict, string), aggregates them in a tuple, and returns it.

The zip() function can take two or more lists, aggregate them in a tuple, and returns it.
Pass the first argument as a list1 and seconds argument as a list2[::-1] (reverse list using list slicing)
Iterate the result using a for loop

In [34]:
list1 = [10, 20, 30, 40]
list2 = [100, 200, 300, 400]
for i,j in zip(list1, list2[::-1]):
    print(i,j)

10 400
20 300
30 200
40 100

#### **Exercise 6:** Remove empty strings from the list of strings 

**Given:** 

list1 = ["Mike", "", "Emma", "Kelly", "", "Brad"]

**Expected Output:** 

["Mike", "Emma", "Kelly", "Brad"]

**Hint:** 

Use a filter() function to remove the None / empty type from the list

Use a filter() function to remove None type from the list

In [41]:
list1 = ["Mike", "", "Emma", "Kelly", "", "Brad"]
# remove None from list1 and convert result into list
newlist = list(filter(None, list1))
print(newlist)

['Mike', 'Emma', 'Kelly', 'Brad']