In [9]:
import pandas as pd
ch = pd.read_excel('D:\JOBS & SCHOLARSHIPS\PST JEST JOB\LISTS\Final JEST - May 18-2022 at cut off 40.xls')
ch.info()
#print(ch.head())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 29632 entries, 0 to 29631
Data columns (total 14 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   SIBA TESTING SERVICES  29631 non-null  object
 1   Unnamed: 1             29628 non-null  object
 2   Unnamed: 2             29628 non-null  object
 3   Unnamed: 3             29627 non-null  object
 4   Unnamed: 4             29628 non-null  object
 5   Unnamed: 5             29628 non-null  object
 6   Unnamed: 6             29628 non-null  object
 7   Unnamed: 7             29628 non-null  object
 8   Unnamed: 8             29628 non-null  object
 9   Unnamed: 9             29622 non-null  object
 10  Unnamed: 10            29628 non-null  object
 11  Unnamed: 11            29624 non-null  object
 12  Unnamed: 12            29623 non-null  object
 13  Unnamed: 13            29628 non-null  object
dtypes: object(14)
memory usage: 1.6+ MB

In [11]:
import pandas as pd
ch = pd.read_excel(r'D:\JOBS & SCHOLARSHIPS\PST JEST JOB\LISTS\Final JEST - May 18-2022 at cut off 40.xls')
name = ch[ch['Unnamed: 9'] > '60']
print(name)

      SIBA TESTING SERVICES Unnamed: 1         Unnamed: 2  \
4                        S#      Seat#  Name of Candidate
5                         1   10740353   Khalil Ul Rehman
6                         2   10741027   Rafique Abdullah
7                         3   10741882        Abdul Basat
8                         4   10741513        Abdul Basit
...                     ...        ...                ...
29624                 29620   11740250   Aalam Bijjar Zai
29627                 29623   11740110        Syed Rehman
29629                 29625   11740328         Shiraz Ali
29630                 29626   11740010      Maqbool Ahmed
29631                 29627   11740009              Naila

                  Unnamed: 3       Unnamed: 4 Unnamed: 5  Unnamed: 6  \
4              Father's Name            CNIC#   Religion  Disability
5      Muhammad Iqbal Khatri  41101-8299848-7     Muslim          No
6            Muhammad Ramzan  41101-3898195-9     Muslim          No
7               Ali Muhammad  41101-3321533-9     Muslim          No
8               Abdul Rehman  41104-1684255-5     Muslim          No
...                      ...              ...        ...         ...
29624           Raheem Buksh  42401-6322552-5     Muslim          No
29627             Ali Rehman  42401-8608722-5     Muslim          No
29629          Abdul Shakoor  42401-3603843-7     Muslim          No
29630       Muhammad  Yousuf  42401-9903963-1     Muslim          No
29631        Muhammad Sharif  42401-1390031-6     Muslim          No

         Unnamed: 7     Unnamed: 8             Unnamed: 9   Unnamed: 10  \
4          District         Taluka                     UC   PhoneNumber
5             Badin          Badin               MC-Badin  0333-2548228
6             Badin          Badin             Kadi Qazia  0304-9303069
7             Badin          Badin  Muhammad Khan Bhurgri  0301-3144849
8             Badin          Badin            Tando Bago`  0333-2531085
...             ...            ...                    ...           ...
29624  West Karachi  S.I.T.E. Town              Site uc 4  0332-3533818
29627  West Karachi  S.I.T.E. Town                    UC3  0345-2335609
29629  West Karachi  S.I.T.E. Town                   Uc-1  0342-2347528
29630  West Karachi  S.I.T.E. Town              site town  0341-2423852
29631  West Karachi  S.I.T.E. Town                      8  0312-0211253

                                             Unnamed: 11  \
4                                       PermanentAddress
5      Zareen House, Ward No.4, Near Head Post Office...
6                Village Allahabad Parhiar, Taluka Badin
7      Village Andhalo P/O Badin Taluka and District ...
8      Ward No 05 Memon Muhalla Tando Bago district B...
...                                                  ...
29624  House 186 noor bagh hassan aulia village rexer...
29627  Home no.88 haider chali manghopir road site ar...
29629  Q1/1 pak modran colony mangopir road karachi w...
29630              B-400 Block 3 Metroville Site Karachi
29631  House No. 5/24, Sector R1., qasba colony, kara...

                                             Unnamed: 12  \
4                                          PostalAddress
5      Zareen House, Ward No.4, Near Head Post Office...
6           Al-Rehman Medical Store, Seerani Road, Badin
7      Maqbool Computer composing center opposite to ...
8      Ward No 05 Memon Muhalla Tando Bago district B...
...                                                  ...
29624  Ubl bunder road branch ma jinnah road opposite...
29627  Home no.88 haider chali manghopir road site ar...
29629                        R 25 sector 5D sarjani town
29630              B-400 Block 3 Metroville Site Karachi
29631  House No. 5/24, Sector R1., qasba colony, kara...

                     Unnamed: 13
4      Total Score\n(Out of 100)
5                             75
6                             75
7                             70
8                             69
...                          ...
29624                         41
29627                         41
29629                         40
29630                         40
29631                         40

[26564 rows x 14 columns]

In [22]:
import pandas as pd
ch = pd.read_excel('D:\JOBS & SCHOLARSHIPS\PST JEST JOB\LISTS\practice.xlsx')
name = (ch['Unnamed: 2'], ch['Unnamed: 3'])
name.head()
#print(name.head())

AttributeError: 'tuple' object has no attribute 'head'

In [23]:
ch.columns

Index(['Unnamed: 0', 'Unnamed: 1', 'Unnamed: 2', 'Unnamed: 3', 'Unnamed: 4',
       'Unnamed: 5', 'Unnamed: 6', 'Unnamed: 7', 'Unnamed: 8'],
      dtype='object')

In [24]:
ch.index

RangeIndex(start=0, stop=126, step=1)

In [2]:
import pandas as pd
ch = pd.read_excel('D:\JOBS & SCHOLARSHIPS\PST JEST JOB\LISTS\Final JEST - May 18-2022 at cut off 40.xls')
print(ch.describe)

                                   SIBA TESTING SERVICES Unnamed: 1  \
0                          MERIT-TRANSPARENCY-TECHNOLOGY        NaN
1      RECRUITMENT TEST RESULT FOR THE POST OF JUNIOR...        NaN
2                   TESTS HELD: SEPTEMBER 13 TO 19, 2021        NaN
3                                                    NaN        NaN
4                                                     S#      Seat#
...                                                  ...        ...
29627                                              29623   11740110
29628                                              29624   11740143
29629                                              29625   11740328
29630                                              29626   11740010
29631                                              29627   11740009

              Unnamed: 2          Unnamed: 3       Unnamed: 4 Unnamed: 5  \
0                    NaN                 NaN              NaN        NaN
1                    NaN                 NaN              NaN        NaN
2                    NaN                 NaN              NaN        NaN
3                    NaN                 NaN              NaN        NaN
4      Name of Candidate       Father's Name            CNIC#   Religion
...                  ...                 ...              ...        ...
29627        Syed Rehman          Ali Rehman  42401-8608722-5     Muslim
29628     Zubair Rasheed  Abdul Rasheed Late  42401-2682117-7     Muslim
29629         Shiraz Ali       Abdul Shakoor  42401-3603843-7     Muslim
29630      Maqbool Ahmed    Muhammad  Yousuf  42401-9903963-1     Muslim
29631              Naila     Muhammad Sharif  42401-1390031-6     Muslim

       Unnamed: 6    Unnamed: 7     Unnamed: 8 Unnamed: 9   Unnamed: 10  \
0             NaN           NaN            NaN        NaN           NaN
1             NaN           NaN            NaN        NaN           NaN
2             NaN           NaN            NaN        NaN           NaN
3             NaN           NaN            NaN        NaN           NaN
4      Disability      District         Taluka         UC   PhoneNumber
...           ...           ...            ...        ...           ...
29627          No  West Karachi  S.I.T.E. Town        UC3  0345-2335609
29628          No  West Karachi  S.I.T.E. Town          -  0321-3984983
29629          No  West Karachi  S.I.T.E. Town       Uc-1  0342-2347528
29630          No  West Karachi  S.I.T.E. Town  site town  0341-2423852
29631          No  West Karachi  S.I.T.E. Town          8  0312-0211253

                                             Unnamed: 11  \
0                                                    NaN
1                                                    NaN
2                                                    NaN
3                                                    NaN
4                                       PermanentAddress
...                                                  ...
29627  Home no.88 haider chali manghopir road site ar...
29628  A#507 Block A Sector 10 Bagh e Korangi Townshi...
29629  Q1/1 pak modran colony mangopir road karachi w...
29630              B-400 Block 3 Metroville Site Karachi
29631  House No. 5/24, Sector R1., qasba colony, kara...

                                             Unnamed: 12  \
0                                                    NaN
1                                                    NaN
2                                                    NaN
3                                                    NaN
4                                          PostalAddress
...                                                  ...
29627  Home no.88 haider chali manghopir road site ar...
29628  A#507 Block A Sector 10 Bagh e Korangi Townshi...
29629                        R 25 sector 5D sarjani town
29630              B-400 Block 3 Metroville Site Karachi
29631  House No. 5/24, Sector R1., qasba colony, kara...

                     Unnamed: 13
0                            NaN
1                            NaN
2                            NaN
3                            NaN
4      Total Score\n(Out of 100)
...                          ...
29627                         41
29628                         40
29629                         40
29630                         40
29631                         40

[29632 rows x 14 columns]

In [4]:
import pandas as pd
ch = pd.read_excel('D:\JOBS & SCHOLARSHIPS\PST JEST JOB\LISTS\Final JEST - May 18-2022 at cut off 40.xls')
print(ch.describe())

                SIBA TESTING SERVICES  Unnamed: 1 Unnamed: 2      Unnamed: 3  \
count                           29631       29628      29628           29627
unique                          29631       29622      12955           12795
top     MERIT-TRANSPARENCY-TECHNOLOGY    11960796   Asif Ali  Ghulam Mustafa
freq                                1           2        187             183

             Unnamed: 4 Unnamed: 5 Unnamed: 6 Unnamed: 7 Unnamed: 8  \
count             29628      29628      29628      29628      29628
unique            29622          2          3         31        143
top     45205-7980190-5     Muslim         No   Khairpur    Larkana
freq                  2      29627      29409       3308        998

       Unnamed: 9   Unnamed: 10 Unnamed: 11 Unnamed: 12  Unnamed: 13
count       29622         29628       29624       29623        29628
unique       9982         29621       28486       28409           42
top             2  0310-1811289        Same        Same           40
freq          154             2         231         141         2534

In [8]:
import pandas as pd
ch = pd.read_excel('D:\JOBS & SCHOLARSHIPS\PST JEST JOB\LISTS\practice.xlsx')
##name = (ch['Unnamed: 2'], ch['Unnamed: 3'])
##ch.head() 
print(ch.shape)

(126, 9)

In [9]:
ch.describe()

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8
count,125,125,125,125,125,125,124,125,125
unique,125,125,120,109,125,2,78,125,22
top,62,10740441,Ghulam Murtaza,Ali Muhammad,41101-6367267-5,Badin,Luari Sharif,0333-2528887,52
freq,1,1,2,3,1,124,12,1,17

In [10]:
ch.columns

Index(['Unnamed: 0', 'Unnamed: 1', 'Unnamed: 2', 'Unnamed: 3', 'Unnamed: 4',
       'Unnamed: 5', 'Unnamed: 6', 'Unnamed: 7', 'Unnamed: 8'],
      dtype='object')

In [11]:
ch.index

RangeIndex(start=0, stop=126, step=1)

In [12]:
ch.values

array([[nan, nan, nan, ..., nan, nan, nan],
       ['S#', 'Seat#', 'Name of Candidate', ..., 'UC', 'PhoneNumber',
        'Total Score\n(Out of 100)'],
       [1, 10740353, 'Khalil Ul Rehman', ..., 'MC-Badin', '0333-2548228',
        75],
       ...,
       [122, 10741297, 'Abdul Sattar', ..., 'Mitthi 3', '0303-3058815',
        50],
       [123, 10741625, 'Sanaullah', ..., 'Muhammad Khan Burghri',
        '0336-2634094', 50],
       [124, 10741586, 'Umair Ahmed Talpur', ..., 'Luari Sharif',
        '0333-3715104', 50]], dtype=object)

In [13]:
ch.["name"]

SyntaxError: invalid syntax (<ipython-input-13-0fccf620f05c>, line 1)