# PRACTICING JUPYTER NOTEBOOK

## LEARN FORMATING

### MY INTRODUCTION

**1. NAME:** HAFIZ JUNAID JAHANGIR QAZI 

**2. FATHER'S NAME:** QAZI MUHAMMAD JAHANGIR  

**3. AGE:** 36 YEARS

**4. CNIC #:** 42201-9431598-9 

**5. COURSE ENROLLED:** ARTIFICIAL INTELLIGENCE 

**6. BATCH:** AI-BATCH 3

**7. ID NO.:** AI - 49551

In [12]:
name = 'Rasheed' 
name == message

False

In [7]:
message = "My Name is Junaid" 
type(message), id(message)

(str, 56459184)

In [9]:
age = 24
type(age), id(age)

(int, 1457292832)

In [11]:
first_name = 'Junaid' 
last_name = 'Qazi'
first_name+ " " +last_name

'Junaid Qazi'

**1. Name:** Hafiz Junaid Jahangir Qazi 

**2. Father's Name:** Qazi Muhammad Jahangir 

**3. Age:** 36 Years

**4. Qualification:** B.E. Electronics Engineering 

**5. University:** Dawood University of Engineering & Technology 


* Name: Hafiz Junaid Jahangir Qazi

* Father's Name: Qazi Muhammad Jahangir 

* Age: 36 Years

* Qualification: B.E. Electronics Engineering' 

* University: Dawood University of Engineering & Technology'