In [1]:
name = ["junaid", "owais", "sadia", "qasim", "adnan"]
type(name)

list

In [7]:
name = ["junaid", "owais", "sadia", "qasim", "adnan"]
name.append("farman")
print(name)

['junaid', 'owais', 'sadia', 'qasim', 'adnan', 'farman']

In [8]:
name.remove("owais")
print(name)

['junaid', 'sadia', 'qasim', 'adnan', 'farman']

In [9]:
name.clear()

In [10]:
print(name)

[]

In [17]:
name1 = ["junaid", "owais", "qasim", "adnan"]
name2 = ["kashif", "farman", "faran", "shahzaib", "faisal"]
name1.extend(name2)
print(name1)

['junaid', 'owais', 'qasim', 'adnan', 'kashif', 'farman', 'faran', 'shahzaib', 'faisal']

In [18]:
name3 = ["Mubashir", "Saqib", "Sami", "Ibrahim", "Ismail"]
name1.extend(name3)
print(name1)

['junaid', 'owais', 'qasim', 'adnan', 'kashif', 'farman', 'faran', 'shahzaib', 'faisal', 'Mubashir', 'Saqib', 'Sami', 'Ibrahim', 'Ismail']

In [20]:
name1[:2:1]

['junaid', 'owais']

In [21]:
print(name1)

['junaid', 'owais', 'qasim', 'adnan', 'kashif', 'farman', 'faran', 'shahzaib', 'faisal', 'Mubashir', 'Saqib', 'Sami', 'Ibrahim', 'Ismail']

In [24]:
list(name1)

['junaid',
 'owais',
 'qasim',
 'adnan',
 'kashif',
 'farman',
 'faran',
 'shahzaib',
 'faisal',
 'Mubashir',
 'Saqib',
 'Sami',
 'Ibrahim',
 'Ismail']

In [25]:
list(name2)

['kashif', 'farman', 'faran', 'shahzaib', 'faisal']

In [26]:
name1 = ["junaid", "owais", "qasim", "adnan","kashif", "farman", "faran", "shahzaib", "faisal", 
         "Mubashir", "Saqib", "Sami", "Ibrahim", "Ismail"]
print(name1)

['junaid', 'owais', 'qasim', 'adnan', 'kashif', 'farman', 'faran', 'shahzaib', 'faisal', 'Mubashir', 'Saqib', 'Sami', 'Ibrahim', 'Ismail']

In [27]:
name1[5]

'farman'

In [28]:
name1[0:3]

['junaid', 'owais', 'qasim']

In [29]:
name1[0:3:1]

['junaid', 'owais', 'qasim']

In [30]:
name1[3:11:2]

['adnan', 'farman', 'shahzaib', 'Mubashir']

In [31]:
name1[::-1]

['Ismail',
 'Ibrahim',
 'Sami',
 'Saqib',
 'Mubashir',
 'faisal',
 'shahzaib',
 'faran',
 'farman',
 'kashif',
 'adnan',
 'qasim',
 'owais',
 'junaid']

In [35]:
name1 = [['junaid', 'owais', 'qasim', 'adnan'], 
['kashif', 'farman', 'faran', 'shahzaib', 'faisal'], 
['Mubashir', 'Saqib', 'Sami', 'Ibrahim', 'Ismail']]

In [37]:
print(name1[2][3])

Ibrahim

In [38]:
print(name1[1][3])

shahzaib

In [44]:
name1[1][4] = 'Asif'
name1

[['junaid', 'owais', 'qasim', 'adnan'],
 ['kashif', 'farman', 'faran', 'shahzaib', 'Asif'],
 ['Mubashir', 'Saqib', 'Sami', 'Ibrahim', 'Ismail']]

In [40]:
print(name1)

[['junaid', 'owais', 'qasim', 'adnan'], ['kashif', 'farman', 'faran', 'shahzaib', 'faisal'], ['Mubashir', 'Saqib', 'Sami', 'Ibrahim', 'Ismail']]

In [1]:
name = ('junaid', 'kashif', 'ibrahim')
type(name)

tuple

In [6]:
data = {    
    "name": 'Junaid',
    "fname": 'Qazi',
    "course": 'AI'
}

print(data)
type(data)

{'name': 'Junaid', 'fname': 'Qazi', 'course': 'AI'}

dict

In [7]:
dir(data)

['__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'clear',
 'copy',
 'fromkeys',
 'get',
 'items',
 'keys',
 'pop',
 'popitem',
 'setdefault',
 'update',
 'values']

# list

In [4]:
name = ["asif", "junaid", "kashif"] 
print(name[2])
print(type(name))

kashif
<class 'list'>

In [3]:
name = ('asif', 'junaid', 'kashif')
print(type(name))

<class 'tuple'>

In [7]:
name = {'asif', 'junaid', 'kashif'}
print(type(name))

<class 'set'>

In [22]:
name = {

    'Name':"Asif",
    'Father Name':'Qazi',
    'Course Enrolled':'Artificial Intelligence'
}

print(name)
print(type(name))

{'Name': 'Asif', 'Father Name': 'Qazi', 'Course Enrolled': 'Artificial Intelligence'}
<class 'dict'>

In [31]:
name = (["asif", "kashif", "junaid"], 'sadia', 'owais')
print(type(name))

<class 'tuple'>

In [25]:
name.append("armani")

AttributeError: 'tuple' object has no attribute 'append'

In [27]:
print(name[1])

sadia

In [33]:
name = (["asif", "kashif", "junaid"],)
print(type(name))

<class 'tuple'>

In [35]:
name = (["asif", "kashif", "junaid", "junaid"], 'sadia', 'owais', 'sadia')
print(name)
print(type(name))

(['asif', 'kashif', 'junaid', 'junaid'], 'sadia', 'owais', 'sadia')
<class 'tuple'>

In [37]:
print(name[3])

sadia

In [38]:
name = {'asif', 'kashif', 'saleem', 'commando', 'asif'}
print(type(name))
print(name)

<class 'set'>
{'asif', 'kashif', 'commando', 'saleem'}

In [39]:
print(name)

{'asif', 'kashif', 'commando', 'saleem'}

In [40]:
name = {

    'Name':"Asif",
    'Father Name':'Qazi',
    'Course Enrolled':'Artificial Intelligence'
}

print(name)
print(type(name))

{'Name': 'Asif', 'Father Name': 'Qazi', 'Course Enrolled': 'Artificial Intelligence'}
<class 'dict'>

In [53]:
name = {

    'Name':"Asif",
    'Father Name':'Qazi',
    'Course Enrolled':'Artificial Intelligence'
}

print(name)
print(type(name))
print(name.keys())

{'Name': 'Asif', 'Father Name': 'Qazi', 'Course Enrolled': 'Artificial Intelligence'}
<class 'dict'>
dict_keys(['Name', 'Father Name', 'Course Enrolled'])

In [42]:
name['Name']

'Asif'

In [47]:
name = ["asif", "junaid", "kashif"] 
print(name.pop())

kashif

In [48]:
dir(name)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [51]:
name = ["asif", "junaid", "kashif"] 
print(name.pop(1))

junaid

In [54]:
name = {

    'Name':"Asif",
    'Father Name':'Qazi',
    'Course Enrolled':'Artificial Intelligence'
}

print(name)
print(type(name))
print(name.keys())
print(name.values())

{'Name': 'Asif', 'Father Name': 'Qazi', 'Course Enrolled': 'Artificial Intelligence'}
<class 'dict'>
dict_keys(['Name', 'Father Name', 'Course Enrolled'])
dict_values(['Asif', 'Qazi', 'Artificial Intelligence'])

In [55]:
print(name.items())

dict_items([('Name', 'Asif'), ('Father Name', 'Qazi'), ('Course Enrolled', 'Artificial Intelligence')])

In [56]:
name = {

    'Name':"Asif",
    'Father Name':'Qazi',
    'Course Enrolled':'Artificial Intelligence'
}

name["Name"] = "Kashif", "Amir", "Qasim"
print(name)
print(name.keys())
print(name.values())

{'Name': ('Kashif', 'Amir', 'Qasim'), 'Father Name': 'Qazi', 'Course Enrolled': 'Artificial Intelligence'}
dict_keys(['Name', 'Father Name', 'Course Enrolled'])
dict_values([('Kashif', 'Amir', 'Qasim'), 'Qazi', 'Artificial Intelligence'])

In [1]:
name = ["junaid", "owais", "sadia", "qasim", "adnan"]

In [2]:
name

['junaid', 'owais', 'sadia', 'qasim', 'adnan']

In [3]:
name[2][4]

'a'

In [4]:
name[0][1]

'u'

In [5]:
favorites = ['raindrops', 'roses', 'whiskers', 'snowflakes']

print(favorites[-2][-3])

e

In [7]:
name1 = ['owais', 'asif', 'kashif']
name2 = ['sadia', 'sonia', 'sara']
new = name1 + name2
print(new)

['owais', 'asif', 'kashif', 'sadia', 'sonia', 'sara']