In [22]:
admit_card= """

*** 100 Days Coding Challange ***
Name: Junaid 
Roll No.: 126 
University: DUET
Department: Electronics"""
print(admit_card)

*** 100 Days Coding Challange ***
Name: Junaid
Roll No.: 126
University: DUET
Department: Electronics

In [21]:
name = "Junaid Qazi"
university = "Dawood University" 
depart = "Electronics" 
reg_no = 56789 

admit_card="""

100 days code challange 

Name: {name} 
Unviersity: {university}
Department: {depart}
Reg No.: {reg_no}""" 


print(admit_card)

100 days code challange

Name: {name}
Unviersity: {university}
Department: {depart}
Reg No.: {reg_no}

In [3]:
name = "Junaid Qazi"
university = "Dawood University" 
depart = "Electronics" 
reg_no = 56789 

admit_card=f"""
**** 100 days code challange ****

Name: {name} 
Unviersity: {university}
Department: {depart}
Reg No.: {reg_no}""" 


print(admit_card)

**** 100 days code challange ****

Name: Junaid Qazi
Unviersity: Dawood University
Department: Electronics
Reg No.: 56789

In [5]:
name = "Junaid Qazi"
university = "Dawood University" 
depart = "Electronics" 
reg_no = 56789 

admit_card="""

100 days code challange 

Name of Student: {0} 
Unviersity Name: {1}
Department Name: {2}
Student's Reg No.: {3}""" .format(name, university, depart, reg_no)


print(admit_card)

100 days code challange

Name: Junaid Qazi
Unviersity: Dawood University
Department: Electronics
Reg No.: 56789

In [9]:
A=5
print(A)

5

In [12]:
a=5
print(a)
a=a+6
print(a)
a+=4
print(a) 
print(type(a))

5
11
15
<class 'int'>

In [17]:
eng = 75 
urdu = 65
math = 95 
sci = 80 

"Total Marks Obtained:" +str(eng+urdu+math+sci)

'Total Marks Obtained:315'

In [1]:
name = "Junaid Qazi"
university = "Dawood University" 
depart = "Electronics" 
reg_no = 56789 

admit_card="""

100 days code challange 

Name of Student: {0} 
Unviersity Name: {1}
Department Name: {2}
Student's Reg No.: {3}""" .format(name, university, depart, reg_no)


print(admit_card)

100 days code challange

Name of Student: Junaid Qazi
Unviersity Name: Dawood University
Department Name: Electronics
Student's Reg No.: 56789